* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}

/* Untuk Semua */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background: white;
    color: black;
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 70px;
    border-bottom: rgb(195, 195, 195) 7px solid;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 15px 0 15px;
}

header li a {
    font-size: 16px;
    font-weight: bold;
}

header #logos {
    float: left;
}

header #logos h1 {
    margin: 0;
}

header #logos h1{
    font-weight: bolder;
    font-size: 30px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highl, header .fly a {
    color: #0033DD;
    font-weight: bolder;
}


/* Content */
/* VEHICLE SECTION */
#vehicle-section {
    min-height: 650px;
    background-image: url(../images/circle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #ffffff;
} 

#vehicle-section h1{
    margin-top: 240px;
    margin-bottom: 10px;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 7px 7px 0px rgba(0,0,0,0.2);
}

#vehicle-section:hover{
    background-image: url(../images/land.jpg);
    transition: .50s ease-in-out;
}


.vehicle {
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

.vehicle-button {
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    padding: 13px 20px;
    justify-content: center;
    display: flex;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background: #0033DD;
    border: #0033DD solid 2px;
}

.vehicle-button:hover {
    text-decoration: none;
    border: #ffffff solid 2px;
    outline: 0;
    transition: border-color .50s ease-in-out;
} 


/* BOX SECTION */
#box-section {
    text-align: center;
    justify-content: center;
    display: flex;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-1 {
    margin: 60px 0;
}

.title-1 h1 {
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 5px;
}

.outside-box {
    margin: 40px 0;
    background: #eaeaea;
    border-radius: 20px;
    border-top: rgb(0, 0, 0) 2px solid;
    border-bottom: rgb(0, 0, 0) 7px solid;
    border-left: rgb(0, 0, 0) 7px solid;
    border-right: rgb(0, 0, 0) 0.3px solid;
}

.inside-box {
    padding: 15px 0;
    margin-top: 15px;
}

.inside-box h1 {
    padding-bottom: 7px;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 2px;
}

.mini-box {
    width: 500px;
    margin: auto;
    padding: 0 13px;
}

.inside-box p {
    font-size: 16px;
}

.img-box {
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: center;
    display: flex;
}

/* JOIN SECTION */
#join-section {
    background: #eaeaea;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.title-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-2 h1 {
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 5px;
}

.title-2 p {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 3px;
}

.join {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}

.join-button {
    cursor: pointer;
    text-decoration: none;
    width: 150px;
    padding: 13px 20px;
    justify-content: center;
    display: flex;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background: #0033DD;
    border: #0033DD solid 3px;
}

.join-button:hover {
    text-decoration: none;
    border: #000000 solid 3px;
    outline: 0;
    transition: border-color .50s ease-in-out;
} 

/* footer */
/* Footer Top*/
footer {
    background: white;
    min-height: 70px;
    padding-top: 15px;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    border-top: #0033DD 10px solid;
}

.footer-top {
    height: 230px;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
}

.footer-top h3 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 30px;
}

.footer-top p {
    max-width: 500px;
    margin: 15px auto;
    line-height: 33px;
    font-size: 15px;
}

.socials {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ig img {
    background: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    padding: 5px; 
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 3px 2px rgb(195, 195, 195);
} 

.ig img:hover {
    text-decoration: none;
    width: 45px;
    height: 45px;
    background: #0033DD;
    background: #0033DD;
    transition: all .3s ease-in-out;
}

.dc img {
    background: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 3px 2px rgb(195, 195, 195);
} 

.dc img:hover {
    text-decoration: none;
    width: 45px;
    height: 45px;
    background: #0033DD;
    background: #0033DD;
    transition: all .3s ease-in-out;
}

.socials li {
    margin: 0px 30px;
}

/* Footer Bottom */
.footer-bottom {
    background: #0033DD;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
} 

.footer-bottom p {
    font-size: 13px;
    word-spacing: 3px;
    text-transform: capitalize;
}

#myname {
    text-transform: capitalize;
    font-weight: bolder;
} 


/* Responsive */
@media(max-width: 1200px) {
    header #logos, header nav, header nav li {
        float: none;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    #vehicle-section h1{
        font-size: 60px;
    }

}

@media(max-width: 800px) {
    header #logos, header nav, header nav li {
        float: none;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    #vehicle-section h1{
        font-size: 41px;
    }

    .title-1 h1 {
        font-size: 44px;
    }

    .title-2 h1 {
        font-size: 34px;
    }

    .title-2 p {
        font-size: 20px;
    }
} 


@media(max-width: 555px) {
    header #logos, header nav, header nav li {
        float: none;
        text-align: center;
        justify-content: center;
        display: flex;
    } 

    #vehicle-section h1{
        font-size: 31px;
    }

    .vehicle-button {
        width: 170px;
    }

    .title-1 h1 {
        font-size: 34px;
    }

    .title-2 h1 {
        font-size: 20px;
    }

    .title-2 p {
        font-size: 16px;
    }

    .mini-box {
        width: 400px;
    }

    .join-button {
        width: 100px;
    }
}

/* FOR ME */
@media(max-width: 377px) {
    header #logos, header nav, header nav li {
        float: none;
        text-align: center;
        justify-content: center;
        display: flex;
    } 

    #vehicle-section h1{
        font-size: 31px;
    }

    .vehicle-button {
        width: 170px;
    }

    .title-1 h1 {
        font-size: 34px;
    }

    .title-2 h1 {
        font-size: 20px;
    }

    .title-2 p {
        font-size: 16px;
    }

    .mini-box {
        width: 250px;
    }

    .join-button {
        width: 100px;
    }
}